@font-face
  font-family: "Avenir-Black"
  font-weight: normal
  font-style: normal

  src: url("../fonts/Avenir-Black.woff") format("woff"),
  src: url("../fonts/Avenir-Black.woff2") format("woff")

@font-face
  font-family: "Avenir-Medium"
  font-weight: normal
  font-style: normal

  src: url("../fonts/Avenir-Medium.woff") format("woff"),
  src: url("../fonts/Avenir-Medium.woff2") format("woff")

@font-face
  font-family: "Avenir-Roman"
  font-weight: normal
  font-style: normal

  src: url("../fonts/Avenir-Roman.woff") format("woff"),
  src: url("../fonts/Avenir-Roman.woff2") format("woff")

// Color
$color-main: #9AA3B0
$color-main--light: lighten($color-main, 10%)
$color-main--dark: darken($color-main, 10%)
$color-grey: #9AA3B0

$color-selection: $color-main
$scrollbar-color: $color-main

$color-header: #08153A
$color-body: #08153A
$color-border: rgba(182, 182, 182, 0.4)

// Type
$font-header: "Avenir-black", Arial, Sans-Serif
$font-body: "Avenir-Roman", Arial, Sans-Serif

// Animation
$transition1: 0.28s all ease
